<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Skin care recommendation</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
        <script src="main.js"></script>
    </head>

	<body>
        <form class="form">
            <h2>Please input the variables</h2>
            <div class="formPrice" id="inputYear">
                <input id="year" name="year" type="number" placeholder="Year"/>
            </div>
            <div class="formPrice" id="inputHP">
                <input id="hp" name="hp" type="number" placeholder="Engine HP"/>
            </div>
            <div class="formPrice" id="inputCyl">
                <input id="cyl" name="cyl" type="number" placeholder="Engine Cylinder"/>
            </div>

            <div class="buttonContainer">
                <a class="button" onclick="sendForm()" href="#">Predict the price</a>
            </div>
        </form>
	</body>
</html>
