<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Car Price Prediction</title>
        <link rel=stylesheet type=text/css href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
        <script type=text/javascript src="../static/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

	<body>
        <form class="form">
            <h2 text-align: center>Car Price Prediction</h2>
            <br/><h4>Please input the variables (integer)</h2>
            <div class="formPrice" id="inputYear">
                <input id="year" name="year" type="number" placeholder="Year"/>
            </div>
            <div class="formPrice" id="inputHP">
                <input id="hp" name="hp" type="number" placeholder="Engine HP"/>
            </div>
            <div class="formPrice" id="inputCyl">
                <input id="cyl" name="cyl" type="number" placeholder="Engine Cylinder"/>
            </div>

            <div class="buttonContainer">
                <a class="button" onclick="sendForm()">Predict</a>
            </div>
        </form>

        <form class = "form" id="result">
        </form>
	</body>
</html>
